{{ form_start(form) }}
<div class="">
{{ form_label(form.auteur)}}
{{ form_widget(form.auteur)}}
{{ form_label(form.editeur)}}
{{ form_widget(form.editeur)}}
{{ form_label(form.genre)}}
{{ form_widget(form.genre)}}
{{ form_widget(form.recherche)}}
</div>
{{ form_end(form) }}